<div class="container editPage">
    <div class="row">
        <br><br><br>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5 photo">
            <img ng-src="{{emp.img}}" alt="{{emp.name}}'s image" height="100" width="100">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <!--<record my-for="{{r.myFor}}" my-type="{{r.myType}}" my-model="r.myModel" ng-repeat="r in myFormData.slice(0, 1)" my-col="4" editable="true">{{r.transcludedContent}}</record>-->
            <label for="name" class="col-md-5">Name</label><input type="text" id="name" class="img-rounded col-md-7" ng-model="emp.name">
            <label for="sex" class="col-md-5">Sex</label><div class="col-md-3"><input type="radio" id="sex" name="sex" value="male" ng-model="emp.sex">Male</div><div class="col-md-3"><input type="radio" name="sex" value="female" ng-model="emp.sex">Female</div>
            <div class="clearfix"></div>
            <label for="email" class="col-md-5">Email</label><input type="email" id="email" class="img-rounded col-md-7" ng-model="emp.email">
            <label for="title" class="col-md-5">Title</label><input type="text" id="title" class="img-rounded col-md-7" ng-model="emp.title">
            <label for="date1" class="col-md-5">Start Date</label><input type="date" id="date1" class="img-rounded col-md-7" ng-model="date1">
            <label for="officePhone" class="col-md-5">Office Phone</label><input type="text" id="officePhone" class="img-rounded col-md-7" ng-model="emp.officePhone">
            <label for="cellPhone" class="col-md-5">Cell Phone</label><input type="text" id="cellPhone" class="img-rounded col-md-7" ng-model="emp.cellPhone">
            <label for="SMS" class="col-md-5">SMS</label><input type="text" id="SMS" class="img-rounded col-md-7" ng-model="emp.SMS">

            <!--<record my-for="{{r.myFor}}" my-type="{{r.myType}}" my-model="r.myModel" ng-repeat="r in myFormData.slice(2)" my-col="4" editable="true">{{r.transcludedContent}}</record>-->
            <!--Manager Edit page 这里应该是个下拉列表框，供选择manager, view page 里应该是个导向manager的个人页面的链接-->
            <!--<label for="manager" class="col-md-5">Manager</label><input class="img-rounded col-md-7" type="text" id="manager">-->
            <label for="manager" class="col-md-5">Manager</label><select name="manager" id="manager" class="img-rounded col-md-7" ng-model="emp.manager.id">
                <option value="">None</option>
            <!--ng-selected="m.id === emp.manager.id"-->
                <option value="{{m.id}}" ng-repeat="m in managers" >{{m.id === '' ? 'None' : m.name}}</option>
            </select>
            <div class="clearfix"></div>
            <!--<p>{{emp.manager.id}}</p>-->
            <!--Direct Reports  Edit Page里不应该出现；在view page里出现，主要是带数字的链接，可以导向这些人的列表界面-->
            <label for="img" class="col-md-4">Image</label><input type="file" id="img" demo-file-model="myImg" class="img-rounded col-md-7" name="myImg" ng-model="myImg">
            <!--<button class="btn btn-primary col-md-4 col-md-offset-8" ng-click="upload()">upload</button>-->
            <i class="fa fa-upload" aria-hidden="true" title="upload {{emp.name === '' ? one : emp.name}}'s photo" ng-click="upload()"></i>
            <!--<label for="img" class="col-md-4">Image</label><input type="file" id="img" demo-file-model="myImg" class="img-rounded col-md-8" name="myImg" ng-model="myImg">-->
            <!--<button class="btn btn-primary" ng-click="upload()">upload</button>-->

            <button class="btn btn-primary col-md-4 col-md-offset-8" ng-click="save()">Save</button>
        </div>
    </div>

</div>
