<div class="container viewPage">
    <div class="row">
        <br><br><br>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5 photo">
            <img ng-src="{{emp.img}}" alt="{{emp.name}}'s image" height="100" width="100">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <record my-for="{{r.myFor}}" my-type="{{r.myType}}" my-model="r.myModel" ng-repeat="r in myFormData" editable="false" my-col="5">{{r.transcludedContent}}</record>
            <label for="email" class="col-md-5">Email</label><a id="email" class="img-rounded col-md-7 others" href="mailto:{{emp.email}}">{{emp.email}}</a>
            <label for="officePhone" class="col-md-5">Office Phone</label><a id="officePhone" class="img-rounded col-md-7 others" href="tel:{{emp.officePhone}}">{{emp.officePhone}}</a>
            <label for="cellPhone" class="col-md-5">Cell Phone</label><a id="cellPhone" class="img-rounded col-md-7 others" href="tel:{{emp.cellPhone}}">{{emp.cellPhone}}</a>
            <label for="SMS" class="col-md-5">SMS</label><a id="SMS" class="img-rounded col-md-7 others" href="tel:{{emp.SMS}}">{{emp.SMS}}</a>
            <label for="manager" class="col-md-5">Manager</label><a href id="manager" class="img-rounded col-md-7 others" ng-click="doViewManager(emp.manager._id)">{{emp.manager.name || "None"}}</a>
            <label for="directReports" class="col-md-6">Direct Reports</label><a id="directReports" class="img-rounded col-md-6 others" ng-click="doViewDirectReports(emp.directReports)">{{emp.directReports.length}}</a>
            <!--Manager Edit page 这里应该是个下拉列表框，供选择manager, view page 里应该是个导向manager的个人页面的链接-->
            <!--<label for="manager" class="col-md-4">Manager</label><input class="img-rounded col-md-8" type="text" id="manager">-->
            <!--Direct Reports  Edit Page里不应该出现；在view page里出现，主要是带数字的链接，可以导向这些人的列表界面-->
            <!--<label for="directReports" class="col-md-5">Direct Reports</label><input class="img-rounded col-md-7" type="text" id="directReports">-->
            <a ng-href="#!/" class="btn btn-primary col-md-4 col-md-offset-8">Back to List</a>
        </div>
    </div>
</div>
